/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Feb, 2018, 4:04:55 PM
    Author     : serviceguard
*/

.pagination li.active a{
   background-color: #53ba16;
    border-color: #53ba16;
    color: #fff;
    /* z-index: 2; */
	 z-index: 0;
}

/*.pagination > li > a, .pagination > li > span{color:#41b120;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{color:#95CA03;} */

.top-user-name{
   padding-left:20px;display:inline;
}

.top-wrap .input-group{width:80%;}

.electricity-bill .form-control {
	/*display: table-cell;*/
	display: inline-block;
	max-width: 30.8%;
	margin-right: 5px;
}

.electricity-bill  .form-control:last-child {
	margin-right: 0;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.show-delay{position: relative; margin: 200px auto;text-align:center;}

.loader_img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.custom_link{color:#41b120;text-decoration: none;}
.error_color{border-color:#ff7f69; border-width:2px;}
.success_color{border-color:#4BB41C; border-width:2px;}

.heading{color:#47b41d; font-size: 18px; font-weight: 600;}

@media only screen and (max-width: 600px){
	.xs-mg-b60{ margin-bottom: 60px !important;}
	.xs-mg-b70{ margin-bottom: 70px !important;}
	.xs-mg-b40{ margin-bottom: 40px !important;}
	.xs-mg-t70{ margin-top: 70px !important;}
	.smk_accordion .accordion_in .acc_head span{ padding-right: 15px;}
	.login-form{ overflow: auto;}
	footer{ z-index: 9999; position: relative;}
	.main-body{ padding-bottom: 0 !important;}
}

footer a{color:#666;}

.display_none{display:none;}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.glyphicon-arrow-left:before {
  content: "\e091";
}

.glyphicon-arrow-right:before {
 content: "\e092";
}

a.decoration_none{text-decoration:none !important;margin-left:20px;}
a.decoration_none:hover{text-decoration:none !important;}

.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #ebebeb !important;
}

.scrallable_table tbody{
    display:block;
    height:350px;
    overflow:auto;
}
.scrallable_table thead, .scrallable_table tbody tr {
    display:table;
    width:100%;
   
}