/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Feb, 2018, 4:01:05 PM
    Author     : serviceguard
*/

/* -------------------------------------
************** helper CSS **************
--------------------------------------*/

/* --------------------------------------------------------------
************** H1 and main heading CSS Satrts here **************
-------------------------------------------------------------- */

h1 {
	color: #666;
	font-size: 24px;
	font-weight: 400;
}

h2 {
  padding: 10px 15px;
  font-weight: 400;
}


/* -----------------------------------------------------------
************** Helper CSS of Margin and padding **************
----------------------------------------------------------- */
.bold {
	font-weight: 700;
}

.semi-bold {
	font-weight: 600;
}

.border-top-f4 {
	border-top: 1px solid #f4f4f4;
}

.uppercase {
	text-transform: uppercase;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.dmt-20 {
	margin-top: 20px;
}

.p-15 {
  padding: 15px;
}
.p-30 {
  padding: 30px;
}

.pb-5 {
	padding-bottom: 5px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pt-70 {
	padding-top: 70px;
}

.radius-4 {
  border-radius: 4px;
}


/* ------------------------------------------------------------
************** Helper CSS of Font and text color **************
------------------------------------------------------------ */

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
  line-height: 28px;
}

.c3 {
  color: #333;
}

.c6 {
  color: #666;
}

.c9 {
  color: #999;
}


[class^="icon-"],
.sprite {
  background-image: url("");
  background-repeat: no-repeat;
}

.white-box {
	background-color: #fff;
	box-shadow: 0px 2px 10px rgba(0,0,0,.07);
}

.box-shadow {
	box-shadow: 0px 4px 8px rgba(0,0,0,.07);
}

.h-100 {
	height: 100%;
}

.w-80 {
	width: 80%;
}

.w100 {
	width: 100%;
}

.green-gr {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b120+0,99cb02+100 */
background: #41b120; /* Old browsers */
background: -moz-linear-gradient(left, #41b120 0%, #99cb02 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #41b120 0%,#99cb02 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #41b120 0%,#99cb02 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41b120', endColorstr='#99cb02',GradientType=1 ); /* IE6-9 */	
}

.right-top {
	background-color: #fff;
}

.right-top, .left-top {
	height: 100%;
}

.top-panel {
	width: 100%;
	height: 69px;
	z-index: 1;
	position: relative;
}


.logo {
	width: 148px;
	height: 64px;
	display: inline-block;
	background-position: 0 0;
}

.rel {
	position: relative;
}

.top-wrap .input-group {
	width: 90%;
	padding-top: 9px;
}


.top-wrap .input-group-addon,
.top-wrap .form-control {
	border: 0 none;
	background-color: transparent;
	box-shadow: none;
}

.top-wrap .input-group-addon {
	padding: 0;
	position: relative;
	width: 25px;
	height: 20px;
}

.top-wrap .input-group-addon sup {
	width: 20px;
    height: 30px;
    display: block;
    background-position: 0 -65px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.login-wrap {
	width: 20%;
}

.user {
	display: inline-block;
	padding: 0;
	border: 0 none;
	background-color: #fff;
	margin-top: 13px;
	color: #c1c1c1;
}

.user img {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #f0f0f1;
}

/* ------------------------------------------------------------
************** Navigation CSS starts here  **************
------------------------------------------------------------ */


nav [class^="icon-"] {
	width: 20px;
    height: 20px;
    display:block;
    margin:0 auto 5px auto;
    position: relative;
    top: 0px;
}

.user-wrap {
	position:relative;
	top: auto;
	right: auto;
	z-index: 1;
	float: left;
}

.user-wrap .dropdown-menu {
	border: 0 none;
	min-width: 160px;
	border-bottom: 3px solid #47b41d;
	border-radius: 0;
	padding: 0;
	margin-top: 14px;
}

.dropdown-menu > li > a {
	padding: 10px 15px;
	border-bottom: 1px solid #f9f9f9;
	position: relative;
}


.dropdown-menu > li > a:hover {
	background-color: #fbfbfb;
}


.id-scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 100%;
  border: 0; 
}

.id-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; 
}

.id-scroll::-webkit-scrollbar-thumb {
    background: transparent; 
}

.validate-by [class^="icon-"] {
	width: 43px;
    height: 43px;
    display: inline-block;
}

.validate-by {
	margin: 0 -13px;
}

.validate-by li {
	display: inline-block; 
	padding: 10px 0 ;
	width: 100px;
	margin: 0 13px;
}

.validate-by span {
	display: inline-block;
}

.validate-by strong {
	font-size: 13px;
	color: #333;
	margin-top: 5px;
}

.validate-by strong,
.validate-by p {
	display: block;
	margin-bottom: 0;
}

.validate-by a {
	color: #666;
	display: block;
	text-align: center;
	padding: 10px 5px;
	border-radius: 3px;
	transition: all 0.5s ease;
}

.validate-by a:hover{
	text-decoration: none;
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,.07);
}

.validate {
	font-size: 11px;
	color: #999;
	position: relative;
}

.validate:after {
	content: "";
	width: 5px;
	height: 8px;
	display: inline-block;
	position: relative;
	top: 1px;
	margin-left: 5px;
	background-image: url("../img/sprite.svg");
	background-position: -153px -99px;
}

.widget-title {
	margin: 0;
  	color: #999;
  	font-size: 13px;
  	text-transform: uppercase;
  	border-bottom: 1px solid #f8f8f8;
}


.summary li {
	border-bottom: 1px solid #f8f8f8;
	padding: 10px 15px;
}


.summary li strong {
	font-weight: 400;
	color: #333;
	font-size: 24px;
}

.summary li .progress-info {
	padding-right: 25px;
}

.info-box {
	position: absolute;
	right: -15px;
	width: 30px;
	height: 30px;
	top: 18px;
}

.info-box button {
	background-color: transparent;
} 

.info-box .dropup .dropdown-menu {
	padding: 15px;
	width: 190px;
	left: -83px;
}

.popover-content .info-content ul li,
.info-box .dropup .dropdown-menu li {
	color: #333;
	font-size: 13px;
	padding:0 50px 0 0;
	border-bottom: 0 none;
	text-align: left;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

.popover-content .info-content ul li:last-child,
.info-box .dropup .dropdown-menu li:last-child {
	margin-bottom: 0;
}

.popover-content .info-content ul li strong,
.info-box .dropup .dropdown-menu li strong {
	display: block;
	margin-left: 10px;
	font-size: 13px;
	position: absolute;
	right: 0;
	top: 0;
	font-weight: 700;
}


.progress {
  height: 4px;
  margin-bottom: 0;

}

.progress-bar {
  text-align: left;
  float: right;
  transition-duration: 3s;
}

.table-head th {
	background-color: #ccc;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;

}

footer {
	background-color: #f0f0f0;
	box-shadow: inset 0px 5px 8px rgba(0,0,0,.03);
	padding-top: 15px;
	padding-bottom: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.need-help {
	display: inline-block;
	font-size: 13px;
}

.need-help li {
	display: inline-block;
	font-weight: 700;
}

.need-help li span {
	margin: 0 10px 0 20px;
	display: inline-block;
	position: relative;
}

.content {
  height: 378px;
  overflow: auto;
  position: relative;
}


/* --------------------------------------------------------------
************** Login page css Satrts here **************
-------------------------------------------------------------- */

.login-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.login-container .table {
	width: 100%;
	height: 100%;
	display: table;
}

.login-container .table-cell {
	height: 100%;
	width: 1000px;
	vertical-align: middle;
	display: table-cell;
}

.login-slider {
	width: 65%;
	height: 100%;
	position: relative;
}

.login-slider-wrap {
	display: block;
	width: 530px;
	margin-left: 50px;
	position: relative;
	z-index: 9;
}

.login-slider-wrap .slick-dots {
	text-align: left;
}

.login-slider-wrap .slick-dots li {
	width: 17px;
	height: 10px
}

.login-slider-wrap .slick-dots li button {
	width: 17px;
	height: 3px;
	margin-top: 5px;
	border-radius: 0;
	border: 0 none;
	padding: 0;
	background-color: rgba(255, 255, 255, .3);
}

.login-slider-wrap .slick-dots li button:hover {
	background-color: rgba(255, 255, 255, .5);
}

.login-slider-wrap .slick-dots .slick-active button {
	background-color: rgba(255, 255, 255, 1);
}

.login-slider h2 {
	font-weight: 700;
	color: #fff;
	font-size: 60px;
	margin: 0 0 15px;
	line-height: 70px;
	padding: 0;
	letter-spacing: -2px;
}

.login-slider p {
	font-size: 24px;
	color: #fff;
}

.overlay-ab {
	position: absolute;
	width: 100%;
	height: 100%;
}

.overlay-ab img {
	opacity: .1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}


.login-form {
	width: 35%;
	height: 100%;
	background-color: #fff;
	position: relative;
}

.rel {
	position: relative;
}

.login-form-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
}

.login-form-wrap .table-cell {
	padding: 0 60px;
}

.login-logo {
	width: 200px;
	height: 27px;
	background-image: url("../img/color-logo.svg");
	display: inline-block;
	margin-bottom: 30px;
}

.login-form-wrap .input-group {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 0 10px;
}

.login-form-wrap .form-control:focus {
  box-shadow: none !important;
}

.login-form-wrap .has-error .form-control:focus {
	box-shadow: none !important;
}

.login-form-wrap .has-error .foucus {
	border-color: #ff7f69;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.login-form-wrap .input-group-addon,
.login-form-wrap .input-group .form-control {
	background-color: transparent;
	border: 0;
	padding: 0 10px 0 0;
}

.btn-default {
	background: #41b120; /* Old browsers */
	background: -moz-linear-gradient(left, #41b120 0%, #99cb02 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #41b120 0%,#99cb02 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #41b120 0%,#99cb02 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41b120', endColorstr='#99cb02',GradientType=1 ); /* IE6-9 */
	border-color: transparent;
	font-weight: 700;
	text-transform: uppercase;
}

.btn-default.disabled, 
.btn-default[disabled], 
fieldset[disabled] .btn-default {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
	background: rgb(211,211,211); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(211,211,211,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(211,211,211,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(211,211,211,1) 0%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
}

.btn,
.btn-lg {
	box-shadow: 0px 4px 8px rgba(0,0,0,.07);	
}

.btn-outline {
	border: 1px solid #d7d7d7;
}

.alert {
	border: 0 none;
	border-radius: 4px;
}

.alert-danger {
    color: #fff;
    background-color: #ff7f69;
}

.right-content .form_date .form-control,
.right-content .form_date .input-group-addon {
	background-color: #fff;
}

.notice-board {
	background-color: #f4ffea;
	margin-bottom: 30px;
	padding: 15px;
}

.notice-board .table-cell {
	height: 150px;
	vertical-align: middle;
	display: table-cell;
	width: 1000px;
}

.notice-board .table-cell span {
	display: inline-block;
	width: 49px;
	height: 49px;
	background-position: -103px -371px;
}

.passport {
	margin-bottom: 30px;
}

.passport .acc-tag {
	color: #47b41d !important;
	margin-top: -5px;
	margin-bottom: 5px;
}

.passport h4 {
	font-size: 18px;
	margin: -5px 0 15px;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}


.dl-result strong {
	font-weight: 400;
	color: #666;
}

.accordion_in .btn {
	height: 48px;
}

.table > tbody > tr > td p {
	margin-bottom: 2px;
}


.pb-30 {
	padding-bottom: 30px;
}

.position_relative{position:relative !important;}
.search_bar{position:relative !important; padding:0 60px 0 0; float:left; width:86%;}

.pd-r-40 {
  padding-right: 40px !important;
}


/* --------------------------------------------------------------
************** Media query Satrts here **************
-------------------------------------------------------------- */
.dlmc {
	text-align: left;
}

.drmc {
	text-align: right;
}


@media (min-width: 768px) { 
	/*.nav > li > a {
		padding: 15px 15px;
	}*/

	.content {
		height: 398px;
	}

	.login-slider {
		width: 60%;
	}

	.login-form {
		width: 40%;
	}

	.login-slider-wrap {
		margin-left: 30px;
		width: 400px;
	}

	.login-slider h2 {
		font-size: 40px;
		line-height: 40px;
	}

	.login-slider p {
		font-size: 18px;
	}

	.login-form-wrap .table-cell {
		padding: 0 20px;
	}
	
	.search_bar{width:90%;}

}

@media (min-width: 992px) {
	/*.nav > li > a {
		padding: 15px 30px;
	}*/

	.content {
		height: 378px;
	}

	.login-slider {
		width: 65%;
	}

	.login-form {
		width: 35%;
	}

	.login-slider-wrap {
		margin-left: 50px;
		width: 530px;
	}

	.login-slider h2 {
		font-size: 55px;
		line-height: 65px;
	}

	.login-slider p {
		font-size: 24px;
	}

	.login-form-wrap .table-cell {
		padding: 0 30px;
	}
.search_bar{width:92.5%;}
}

@media (min-width: 1200px) {
	.content {
		height: 375px;
	}

	.login-form-wrap .table-cell {
		padding: 0 50px;
	}

	.id-scroll {
		/* overflow-x: hidden;  Dashboard scrollable icon */
	}
	.search_bar{width:86%;}
}



@media screen and (max-width: 767px) { 

	h1 {
		margin: 20px 0 5px;
	}

	.main-body {
		padding-bottom: 74px;
	}

	.mobile-mt-20 {
		margin-top: 20px;
	}

	.mobile-pt-70 {
		padding-top: 70px;
	}

	.content {
		height: 375px;
	}

	.mobile-mt-30 {
		margin-top: 30px;
	}

	.user {
		background-color: transparent;
		color: #fff;
	}

	.dlmc {
		text-align: center;
	}

	.drmc {
		text-align: center;
	}

	.popover.bottom {
		width: 200px;
	}
	
	.login-form {
		width: 100%;
	}

	.login-form-wrap .table-cell {
		padding: 0 30px;
	}

	.login-container {
		position: relative;
	}

	.login-logo {
		margin-top: 40px;
	}
	.dmt-20 {
		margin-top: 0;
	}

	.user-wrap {
		position: absolute;
		top: 2px;
		right: 15px;
		z-index: 1;
	}

	.user-wrap .dropdown-menu {
		margin-top: 12px;
	}

	.validate-by li {
		margin: 0;
	}

	.info-box .dropup .dropdown-menu {
		left: -148px;
	}

	.dropdown-menu > .arrow {
		left: 85%;
	}

	.id-scroll {
		overflow-x: auto;
	}

	.form-group {
	  margin-bottom: 15px;
	}

	.p-30 {
	  padding: 15px;
	}

	.passport {
		margin-bottom: 15px;
	}
	
	nav [class^="icon-"] {
		width: 20px;
		height: 20px;
		display:inline-block;
		margin:0 10px 0 0;
		position: relative;
		top:4px;
	}
	
}

@media (min-width: 480px) and (max-width: 767px) {
	.main-body {
		padding-bottom: 0;
	}

	footer {
		position: relative;
	}

}