/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Feb, 2018, 4:03:10 PM
    Author     : serviceguard
*/

/* ------------------------------------------------------------
************** Navigation Icons CSS  **************************
------------------------------------------------------------ */

.icon-dashboard {
	background-position: -20px -72px;
}

.icon-identity {
	background-position: -42px -72px;
}

.icon-utility {
	background-position: -64px -72px;
}

.icon-kyc {
	background-position: -86px -72px;
}

.icon-company {
	background-position: -107px -72px;
}

.icon-vault {
	background-position: -129px -72px;
}
.icon-court {
	background-position: -53px -453px;
}

/* ------------------------------------------------------------
************** agency Icons CSS  **************************
------------------------------------------------------------ */

.icon-aadhaar {
	background-position: 0 -96px;
}

.icon-pan {
	background-position: -44px -96px;
}

.icon-voter {
	background-position: -89px -96px;
}

.icon-electricity {
	background-position: 0 -141px;
}

.icon-landline {
	background-position: -44px -141px;
}

.icon-companyBig {
	background-position: -89px -141px;
}

.icon-tin {
	background-position: 0 -186px;
}

.icon-kycBig {
	background-position: -44px -186px;
}

.icon-gas {
	background-position: -89px -186px;
}

.icon-passport {
	background-position: 0 -230px;
}

.icon-dl {
	background-position: -44px -230px;
}

.icon-waterBill {
	background-position: -89px -230px;
}

.icon-propertyTax {
	background-position: 0 -274px;
}

.icon-vehicleReg {
	background-position: -44px -274px;
}

.icon-shopEst {
	background-position: -89px -274px;
}

.icon-drugVerification {
	background-position: 0 -318px;
}

.icon-kycBio {
	background-position: -44px -318px;
}

.icon-servicesTax {
	background-position: -89px -318px;
}


.icon-din {
	background-position: 0 -362px;
}

.icon-vaultBig {
	background-position: 0 -438px;
}


.alert span {
	width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
	margin-right: 8px;
	position: relative;
	top: -1px;
}

.icon-alert {
	background-position: -142px -293px;
}

.icon-success {
	background-position: 0 -419px;
}



/* ------------------------------------------------------------
************** Other Icons CSS  **************************
------------------------------------------------------------ */
.icon-headPhone {
	width: 21px;
	height: 22px;
	background-position: -137px -161px;
	top: 4px;
}

.icon-mail {
	width: 19px;
	height: 14px;
	background-position: -139px -186px;
	top: 2px;
}


.icon-user {
	width: 16px;
	height: 19px;
	display: block;
	background-position: -142px -201px;
}

.icon-mail-grey {
	width: 20px;
	height: 14px;
	display: block;
	background-position: -20px -420px;
}

.icon-password {
	width: 15px;
	height: 19px;
	display: block;
	background-position: -144px -221px;
}

.icon-dot {
	width: 30px;
	height: 30px;
	background-position: -138px -320px;
	display: block;
}

.icon-refresh {
	background-position: -122px -422px;
}

.icon-search {
	background-position: -123px -463px;
}
.icon-search-new {
	background-position: 0 -65px;
	height:26px !important;
}

.icon-close {
	width: 16px;
	height: 15px;
	background-position: -43px -419px;
	background-color: transparent;
	text-indent: -9999px;
	position: absolute;
	right: 15px;
	cursor: pointer;
	display: block;
}

@media screen and (max-width: 767px) { 
	.icon-close {
		right: 15px;
	}
}