/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}
.sample {
	text-align: center;
}
img.sample {
	height: auto;
	width: inherit !important;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 10px 0;
}
body {
	padding-top: 0px;
}
.navbar-fixed-top {
	position: inherit;
}
.navbar-inverse {
	background-color: #fff;
	border-color: #fff;
	height: 100px;
}
table  {
	width: 100%;
}
tr {
	border: 1px solid #d0d0d0;
}
td {
	padding: 10px;
	border: 1px solid #d0d0d0;
}
.table-header {
	text-align: left;
	font-weight: bold;
	background-color: #ffbb4d;
	color: #fff;
}
tr.information {
	border: 1px solid #d0d0d0;
}
.information td {
	padding: 10px 5px 15px 5px;
	border: 1px solid #fff;
}
.company-name {
	text-align: right;
	margin: 20px 0px;
}