/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Feb, 2018, 4:06:11 PM
    Author     : serviceguard
*/

.main-head {
	font-size: 24px;
	color: #666;
	padding-left: 60px;
	position: relative;
}

.main-head span {
	width: 43px;
	height: 43px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 3px;
}

h3 {
	font-size: 18px;
	color: #333;
	font-weight: 600;
}
.upload-wrap {
	background-color: #f9f9f9;
    border: 1px dashed #d9d9d9;
	padding:30px;
	margin:15px 0 30px;
}

.upload-wrap p {
	padding-bottom:0;
}

.doc-iocn {
	background-position: -61px -372px;
	width:36px;
	height:46px;
	display:inline-block;
}

.right-nav li {
	border-bottom: 1px solid #f8f8f8

}

.right-nav li:last-child {
	border-bottom: 0 none;
}

.right-nav li a {
	display: block;
	position: relative;
	padding: 20px 15px 20px 55px;
	color: #333;
	font-weight: 700;
}

.right-nav li a:after {
	content: '';
	width: 5px;
	height: 8px;
	background-image: url("../img/sprite.svg");
	background-position: -154px -99px;
	display: block;
	right: 10px;
	position: absolute;
	top: 50%;
	margin-top: -4px;
}

.right-nav li a span {
	width: 43px;
	height: 43px;
	display: block;
	position: absolute;
	left: 8px;
	top: 6px;
	transform: scale(.7);
}

.green-bottom-border {
	border-bottom: 5px solid #48b41c;
}

.one-liner {
	margin-top: 30px;
}


.vehicle-reg .form-control {
	display: inline-block;
	max-width: 48.8%;
	/* margin-right: 9px; */
	margin-right: 5px;
}

.vehicle-reg .form-control:last-child {
	margin-right: 0;
}

.company-btn a {
	width: 36px;
	height: 36px;
	display: inline-block;
	margin-right: 5px;
}

.company-btn a:last-child {
	margin-right: 0;
}

.modal-header {
	overflow: hidden;
	padding: 20px 20px 0;
	border: 0 none;
}

.modal-title {
	margin: -8px 0 0;
	font-size: 24px;
	color: #fff;
	font-weight: 400;
	padding-right: 50px;
}


.modal-header .nav-tabs {
	border-bottom: 0 none;
	margin-top: 15px;
}


.modal-header .nav-tabs > li > a {
	border: 0 none;
	background-color: #4ca410;
	color: #fff;
	font-size: 14px;
	padding: 10px 20px;
	margin-right: 5px;
}

.modal-header .nav-tabs > li.active > a, 
.modal-header .nav-tabs > li.active > a:hover, 
.modal-header .nav-tabs > li.active > a:focus,
.modal-header .nav-tabs > li > a:hover {
	border: 0 none;
	background-color: #fff;
	color: #000;
}

.pagination {
	border-radius: 0;
}

.pagination > li {
	border: 1px solid #e1e1e1;
	display: inline-block;
	margin-right: 5px;
}

.pagination > li > a, 
.pagination > li > span {
	border: 0 none;
	margin-left: 0;
	color: #666;
}

.toggle-tab {
    position: absolute;
    right: 45px;
    top: 30px;
}

.toggle-tab ul {
	border: 1px solid #d9d9d9;
	display: inline-block;
	overflow: hidden;
}

.toggle-tab ul li {
	float: left;

}

.toggle-tab ul li a {
	background-color: #e8e8e8;
	display: block;
	padding: 10px 15px;
	height: 48px;
	line-height: 30px;
	border-right: 1px solid #d9d9d9;
	color: #666;
	font-size: 14px;
}



.toggle-tab ul li:last-child a {
	border-right: 0 none;
}

.toggle-tab li.active a {
	background-color: #fff;
}

.no-record {
	color: #ff6f6f;
	font-weight: 700;
}

.green-text {
	color: #5abd12;
	font-weight: 700;
}

@media screen and (max-width: 767px) { 

	.two-liner .table-cell {
		width: 50%;
		display: block;
		float: left;
		margin-bottom: 15px;
	}

	.one-liner {
		margin-top: 15px;
	}

	.one-liner .table-cell {
		width: 100%;
		display: block;
		float: left;
		margin-bottom: 15px;
	}

	.dl-result .table-cell .fs-24 {
		font-size: 18px;
	}

	.voter tr td:first-child {
		width: 110px;
	}

	.modal-header .nav-tabs > li > a {
		font-size: 12px;
		padding: 10px;
	}

	.modal-header .nav-tabs {
		margin-top: 15px;
	}

	.toggle-tab {
		right: 0;
		top: 10px;
		position: relative;
		width: 100%;
	}

	.toggle-tab ul {
		width: 100%;
	}

	.toggle-tab ul li {
		width: 50%;
	}

	.toggle-tab ul li a {
		text-align: center;
	}

}