/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Feb, 2018, 4:02:25 PM
    Author     : serviceguard
*/


nav {
  z-index: 1;
}

.nav-fostrap {
  display: block;
  margin-bottom: 15px 0;
  background:none;
  min-height: 58px;
}

.nav-fostrap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.nav-fostrap li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 13px;
  color: #7c7c7c;
  font-weight:600;
  float:left;
}

.nav-fostrap li a { 
  /* padding:13px 21px 9px 21px; */
  padding:13px 18px 9px 8px;
  display: inline-block;
  outline: 0;
  color: #777777;
  border-bottom: 3px solid transparent;
  text-transform:uppercase;
}

.nav-fostrap li:hover a {
  color: #555555;
  background-color: #fbfbfb;
  border-bottom: 3px solid #fbfbfb;
  text-decoration: none;
}

.nav-fostrap .active a {
  border-bottom: 3px solid #47b41d;
}

.nav-fostrap .active a:hover {
  background-color: #fff;
  border-bottom: 3px solid #47b41d;
}

.nav-fostrap li:hover ul.dropdown { 
  display: block; 
}

.nav-fostrap li ul.dropdown {
  position: absolute;
  display: none;
  width: 260px;
  z-index: 99;
  background: #fff;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 0;
  border-bottom: 3px solid #47b41d;
}

.nav-fostrap li ul.dropdown li {
  display: block;
  list-style-type: none;
  width:100%;
}

.nav-fostrap li ul.dropdown li a {
  padding: 10px 15px;
  font-size: 13px;
  color: #333;
  display: block;
  border-bottom: 1px solid #f9f9f9;
  background:#fff;
}

.nav-fostrap li ul.dropdown li a:after {
  content: '';
  width: 4px;
  height: 7px;
  /*background-image: url("../img/sprite.svg");*/
  background-position: -153px -99px;
  display: block;
  right: 10px;
  position: absolute;
  top: 17px;
}

.nav-fostrap li ul.dropdown li:last-child a {
  border-bottom: 0 none;
}

.nav-fostrap li ul.dropdown li a:hover {
  background-color: #fbfbfb;
  border-bottom: 1px solid #f9f9f9;
}

.nav-fostrap li ul.dropdown li:last-child a { border-bottom: none; }


@media only screen and (max-width:767px) {

  .nav-fostrap {
    background: #fff;
    width: 275px;
    height: 100%;
    display: block;
    position: fixed;
    left: -275px;
    top: 70px;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }


  .nav-fostrap.visible {
    background-color: #f8f8f8;
    left: 0px;
    top: 69px;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
  }

  .nav-fostrap.visible .container {
    padding-left: 0;
    padding-right: 0;
  }


  .nav-fostrap.visible li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ebebeb;
  }

  .nav-fostrap.visible li sup {
    position: absolute;
    content: '';
    width: 12px;
    height: 6px;
    display: block;
    right: 15px;
    top: 27px;
    background-image: url("../img/sprite.svg");
    background-position: -146px -133px;
  }

  .nav-fostrap.visible li:hover sup {
    background-position: -146px -141px;
  }

  .nav-fostrap.visible:first-child li:after {
    background: none;
  }

  .nav-fostrap.visible li:first-child {
    background-color: #fff;
  }

  .nav-fostrap.visible .active a {
    border-left: 3px solid #47b41d;
    border-bottom: 0 none;
  }

  .nav-fostrap.visible .input-group {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0;
  }

  .nav-fostrap.visible .input-group-addon {
    padding: 0;
    position: relative;
    width: 25px;
    height: 20px;
    border: 0 none;
    background-color: #fff;
  }

  .nav-fostrap.visible .input-group-addon sup {
    width: 16px;
    height: 16px;
    display: block;
    background-position: 0 -72px;
    position: absolute;
    top: 10px;
    left: 10px;
  }


  .nav-fostrap.visible .form-control {
    border: 0 none;
  }


  .nav-bg-fostrap {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #03A9F4;
    padding: 12px 0 0 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  .navbar-fostrap {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
    margin: 0;
    position: fixed;
    top: 10px;
    left: 0;
    padding: 12px;
  }

  .navbar-fostrap span {
    height: 2px;
    background: #fff;
    margin: 5px;
    display: block;
    width: 20px;
  }

  .navbar-fostrap span:nth-child(2) { width: 18px; }

  .navbar-fostrap span:nth-child(3) { width: 25px; }

  .nav-fostrap li { display: block; }

  .nav-fostrap li a {
    display: block;
    color: #505050;
    font-weight: 600;
  }

  .nav-fostrap li:first-child:hover a { border-radius: 0; }

  .nav-fostrap li ul.dropdown { 
    position: relative; 
    width: 100%;
    float: left;
  }

  .nav-fostrap li ul.dropdown li {
    border-bottom: 0 none;
  }

  .nav-fostrap li ul.dropdown li a {
    background: #fff !important;
    border-bottom: none;
    color: #333 !important;
    font-size: 13px;
    font-weight: 400;
  }

  .nav-fostrap li:hover a {
    background: #f8f8f8;
    color: #333;
  }

  .nav-fostrap li ul.dropdown li:hover a {
    background: #fff !important;
    color: #333 !important;
  }

  .nav-fostrap li ul.dropdown li a { padding: 10px 10px 10px 30px; }

  .nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

  .arrow-down {
    border-top: 5px solid #505050;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  .cover-bg .menu-overlay {
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
 
}

 @media only screen and (max-width:1199px) {

.container { width: 100%; }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}




/* --------------------------------------------------------------
************** Media query Satrts here **************
-------------------------------------------------------------- */

@media (min-width:768px) and (max-width:990px) {
	 .nav-fostrap li a {
    padding: 13px 10px 14px 10px;
  }
  .nav-fostrap li {font-size: 10px;}
  .p_none{ padding:0;}
  .search_bar {padding: 0 45px 0 0;}	
}



@media (min-width: 991px) and (max-width:1169px) {

  .nav-fostrap li a {
    padding:13px 14px 9px 14px;
  }

}

@media (min-width: 1200px) {

}


@media screen and (max-width: 767px) { 

  nav {
    z-index: 1;
    position: relative;
  }

  .top-panel {
    position: fixed;
    top: 0;
  }

  .nav-fostrap li ul.dropdown {
    border-bottom: 0 none;
    box-shadow: none;
  }

  .cover-bg .container {
    padding-top: 0;
  }

}
