/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2018, 4:31:11 PM
    Author     : vikramsareen
*/

/*
Theme Name: Themify V3
Theme URI: http://themify.me
Author: Themify.me
Version: 1.2.9
*/

/************************************************************************************
RESET
*************************************************************************************/

/* HEADINGS
================================================ */

/************************************************************************************
STRUCTURE
*************************************************************************************/
/************************************************************************************
GRID
*************************************************************************************/
/* animate headerwrap */
/*
FIXED HEADER
================================================ */

/*
PRCING
================================================ */
.pricing-box {
	border-radius: 2px;
	margin: 2% 0 0 3.5%;
	float: left;
	padding: 2% 15px 2%;
	color: #000;
	font-size: .9em;
}
.pricing-box:first-child {
	margin-left: 0;
}
.pricing-box p {
	margin: 0 0;
}
.pricing-box h3 {
	font-size: 1.5em;
	line-height: 1.5em;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	margin: 0 0 5px;
}
.pricing-box .pricing-description {
	font: 300 1.1em/1.3em 'Open Sans';
	text-transform: none;
	margin: 0;
}
.pricing-box .pricing-term {
	margin: 0 0 20px;
	font-size: .9em;
	line-height: 1.6em;
}
.pricing-box .pricing-price {
	text-transform: uppercase;
	font: 100 3.3em/1em 'Open Sans', Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	margin: 20px 20% 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-bottom: 15px;
	white-space: nowrap;
}
.pricing-box .pricing-price small {
	font-size: 9px;
	display: block;
	margin: 6px 0 5px;
	line-height: 120%;
}
.pricing-box .pricing-price del {
	font-size: 16px;
	display: block;
	line-height: 100%;
}
.pricing-box .button {
	background: #000;
	padding: .7em 1.3em;
	font-size: 1.2em;
}

/* grid2 pricing-box */
.pricing-boxes.grid2 .pricing-box {
	font-size: 1.1em;
}
.pricing-boxes.grid2 .pricing-box h3 {
	font-size: 2.2em;
}

/* popular pricing */
.pricing-boxes.has-popular .pricing-box {
	margin-top: 70px;
}
.pricing-box.popular-pricing {
	position: relative;
	color: #fff;
	margin-top: 70px;
}
.pricing-box.popular-pricing .pricing-price {
	border-color: rgba(255,255,255,.3);
}
.pricing-box.popular-pricing .popular-text {
	position: absolute;
	top: -75px;
	color: #000;
	font: 1.3em/100% 'Montserrat';
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: -;
	left: 0;
	text-align: center;
	width: 100%;
}
.pricing-box.popular-pricing .popular-text:before {
	font-family: fontello;
	content: "\e804";
	position: absolute;
	bottom: -25px;
	left: 50%;
	width: 30px;
	margin-left: -15px;
}
.pricing-box.pink {
	color: #fff !important;
}

@-webkit-keyframes animate_popular_text {
	0%, 100% {
		top: -75px;
	}
	50% {
		top: -55px;
	}
}
@keyframes animate_popular_text {
	0%, 100% {
		top: -75px;
	}
	50% {
		top: -55px;
	}
}
.pricing-box.popular-pricing .popular-text {
	-webkit-animation: animate_popular_text 1s ease-out infinite;
	-moz-animation: animate_popular_text 1s ease-out infinite;
	animation: animate_popular_text 1s ease-out infinite;
}

/*
CHANGE LOGS PAGE
================================================ */

/************************************************************************************
THEMIFY ANIMATION
*************************************************************************************/
/* transitions */

/* FLY IN ANIMATION */
.animated li,
.col2-1.animated,
.col3-2.animated,
.col3-1.animated,
.col4-3.animated,
.col4-2.animated,
.col4-1.animated,
.col-full.animated {
	-webkit-backface-visibility: hidden;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* element first */
.grid4.fly-in.animated li:nth-of-type(4n+1),
.grid3.fly-in.animated li:nth-of-type(3n+1),
.grid2.fly-in.animated li:nth-of-type(2n+1),
.grid2-thumb.fly-in.animated li:nth-of-type(2n+1),
.list-post.fly-in.animated li:nth-of-type(2n+1),
.col2-1.first.fly-in.animated,
.col3-2.first.fly-in.animated,
.col3-1.first.fly-in.animated,
.col4-3.first.fly-in.animated,
.col4-2.first.fly-in.animated,
.col4-1.first.fly-in.animated,
.col-full.animate-first.fly-in.animated {
	-webkit-animation-name: flyInLeft;
	animation-name: flyInLeft;
}

/* element last */

@-webkit-keyframes flyInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate(-400px, 200px);
		-ms-transform: translate(-400px, 200px);
		transform: translate(-400px, 200px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

@keyframes flyInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate(-400px, 200px);
		-ms-transform: translate(-400px, 200px);
		transform: translate(-400px, 200px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

@-webkit-keyframes flyInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate(400px, 200px);
		-ms-transform: translate(400px, 200px);
		transform: translate(400px, 200px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

@keyframes flyInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate(400px, 200px);
		-ms-transform: translate(400px, 200px);
		transform: translate(400px, 200px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

@-webkit-keyframes flyInLeftSecond {
	0% {
		opacity: 0;
		-webkit-transform: translate(-200px, 200px);
		-ms-transform: translate(-200px, 200px);
		transform: translate(-200px, 200px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

@keyframes flyInLeftSecond {
	0% {
		opacity: 0;
		-webkit-transform: translate(-200px, 200px);
		-ms-transform: translate(-200px, 200px);
		transform: translate(-200px, 200px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

@-webkit-keyframes flyInRightSecond {
	0% {
		opacity: 0;
		-webkit-transform: translate(200px, 200px);
		-ms-transform: translate(200px, 200px);
		transform: translate(200px, 200px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

@keyframes flyInRightSecond {
	0% {
		opacity: 0;
		-webkit-transform: translate(200px, 200px);
		-ms-transform: translate(200px, 200px);
		transform: translate(200px, 200px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

@-webkit-keyframes flyInBottom {
	0% {
		opacity: 0;
		-webkit-transform: translate(0px, 200px);
		-ms-transform: translate(0px, 200px);
		transform: translate(0px, 200px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

@keyframes flyInBottom {
	0% {
		opacity: 0;
		-webkit-transform: translate(0px, 200px);
		-ms-transform: translate(0px, 200px);
		transform: translate(0px, 200px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

/* arrow animation */
@keyframes arrowAnimation {
	50% {
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
}
@-webkit-keyframes arrowAnimation {
	50% {
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
}

/************************************************************************************
OLD FORUM
*************************************************************************************/
